.quoteEasy {
  margin: 150px auto 0 auto;
  width: 80%;
}

.quoteSteps {
  display: flex;
  justify-content: center;
  gap: 173px;
}

.quoteTitle {
  text-align: center;
  color: #2F4672;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 67px;
}

.boxQuoteSteps {
  position: relative;
}

.boxQuoteSteps:nth-child(1)::after,
.boxQuoteSteps:nth-child(2)::after {
  content: '';
  width: 175px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 100px;
  right: -175px;
  background-color: #E0E0E0;
}

.boxQuoteSteps span {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  background-color: #F69400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  border: 14px solid #fff;
  padding: 1rem;
  box-shadow: 0 0 0 8px #E0E0E0;
  margin-bottom: 28px;
}

.boxQuoteSteps p {
  text-align: center;
  max-width: 200px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}

@media (max-width: 1000px) {
  .quoteSteps {
    gap: 100px;
  }
  
  .quoteTitle {
    font-size: 40px;
  }
  
  .boxQuoteSteps {
    position: relative;
  }
  
  .boxQuoteSteps:nth-child(1)::after,
  .boxQuoteSteps:nth-child(2)::after {
    width: 81%;
    height: 6px;
    top: 70px;
    right: -125px;
  }
  
  .boxQuoteSteps span {
    width: 150px;
    height: 150px;
    font-size: 50px;
    border: 10px solid #fff;
    box-shadow: 0 0 0 6px #E0E0E0;
  }
  
  .boxQuoteSteps p {
    max-width: 160px;
    width: 100%;
    font-size: 20px;
  }
}


@media (max-width: 700px) {
  .quoteSteps {
    gap: 50px;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
  }
  
  .quoteTitle {
    font-size: 35px;
  }
  
  .boxQuoteSteps {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .boxQuoteSteps:nth-child(1)::after,
  .boxQuoteSteps:nth-child(2)::after {
    width: 7px;
    height: 80px;
    top: 150px;
    left: 70px;
  }

  .boxQuoteSteps p {
    max-width: 160px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 25px;
  }
}