.hero {
  height: 650px;
  width: 100%;
  background-image: url('../..//assets/hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.hero h1 {
  color: #fff;
  font-size: 110px;
  font-weight: 700;
}

.hero p {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.hero a {
  background-color: #F69400;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  max-width: 303px;
  width: 100%;
  text-align: center;
  padding: 18px 0;
  border-radius: 30px;
}

@media (max-width: 1250px) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 520px;
  }
}

@media (max-width: 876px) {
  .hero {
    height: 400px;
    margin-top: 130px;
  }
  
  .hero h1 {
    font-size: 80px;
  }
  
  .hero p {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 60px;
  }
  
  .hero p {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 50px;
  }
  
  .hero p {
    font-size: 18px;
  }
}